.node-container {
    display: flex;
    flex-flow: wrap;
}

.flow-title {
    padding: 16px;
}

.flow-title input {
    width: 50%;
}

.button-container {
    text-align: right;
}

.button-container .btn {
    margin-left: 8px;
}

.task-hint {
    padding: 0 16px;
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
    color: gray;
}

/* mobile and tab device related css */

@media only screen and (max-width: 768px) {
    .flow-title input {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .button-container {
        text-align: left;
        padding-top: 8px;
    }

    .card {
        width: 100%;
    }
}