.card {
  margin: 16px;
}

.card-header input,
.card-body textarea {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
}

.card-body textarea {
  height: 100%;
  width: 100%;
  font-size: 12px;
}

.card .status {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node:after, .node:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.node:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #b8b3b3;;
	border-width: 30px;
	margin-top: -30px;
}
.node:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 36px;
	margin-top: -36px;
}

@media only screen and (max-width: 600px) {
  .card-body {
    min-height: 100px;
  }
  .node:after, .node:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .node:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #b8b3b3;
    border-width: 30px;
    margin-left: -30px;
    margin-top: unset;
  }
  .node:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 36px;
    margin-left: -36px;
    margin-top: unset;
  }
}