.round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.completed {
  background-color: rgb(138, 243, 138);
}

.completed::before {
  content: '\f00c';
  font-family: FontAwesome;
  line-height: 1.8;
  margin-left: 7px;
}

.completed:hover {
  background-color: rgb(104, 241, 104);
}

.pending {
  background-color: rgb(184, 179, 179);
}

.pending::before {
  content: '\f05e';
  font-family: FontAwesome;
}

.progress {
  background-color: orange;
}

.progress::before {
  margin-left: 10px;
  content: '\f021';
  font-family: FontAwesome;
  line-height: 2.5;
}

